<header>
    <nav>
        <button onclick="location.href='/'">
            <img src="/images/calendar.png" alt="Calendar" height="25"> Home
        </button>
        <button onclick="location.href='/work'">
            <img src="/images/resume.png" alt="Resume" height="25"> Work
        </button>
    </nav>
</header>
