<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Priority Planner</title>
</head>

<body>
<div>
    <h1>Priority Planner</h1>
        <form action="/submit" method="post">
            <input name="task" type="text" class="feedback-input" placeholder="Enter Task Here" />
            <input type="submit" value="SUBMIT" />
        </form>        
</div>
<div>
    <%= locals.task %>
</div>

</body>

</html>